{% set options = {
    show_project: true
}|merge(options|default({})) %}

{% set colspan = 5 %}
{% if options.show_project %}
    {% set colspan = colspan + 1 %}
{% endif %}

<table class="table">
    {% for run in runs %}
        <tr class="row-{{ run.status }}" data-refresh="run-progress-{{ run.id }}">
            <td colspan="{{ colspan }}">
                <div class="run-progress">
                    {% for status, width in run.progress(100) %}
                        <div class="run-progress-{{ status }}" style="width:{{ width}}%">{{ run.countStatus(status) }}</div>
                    {% endfor %}
                </div>
            </td>
        </tr>
        <tr class="row-{{ run.status }} row-with-separator" data-refresh="run-details-{{ run.id }}">
            <td>
                <a href="{{ path('run_show', {id: run.id}) }}">#{{ run.id ~ (run.title ? ': ' ~ run.title : '') }}</a>
            </td>
            <td><span class="label label-{{ run.status }}">{{ run.status|trans }}</span></td>
            <td>{{ run.projectName }}</td>
            <td>
                {% for name, value in run.properties %}
                    <strong>{{ name }}</strong>: {{ value }}<br />
                {% endfor %}
            </td>
            <td>
                {% if run.pending %}
                    {{ 'run_status.pending_since'|trans({'%since%': run.createdAt|dateinterval}) }}
                {% elseif run.running %}
                    {{ 'run_status.running_since'|trans({'%since%': run.startedAt|dateinterval}) }}
                {% else %}
                    {{ 'run_status.finished'|trans({'%ago%': run.finishedAt|dateinterval, '%duration%': run.duration|dateinterval}) }}
                {% endif %}
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ colspan }}">
                {{ 'run_list.no_run'|trans }}
            </td>
        </tr>
    {% endfor %}
</table>

{% if false %}
{% block angular %}
{% verbatim %}
    <table class="table">
        <tr ng-repeat-start="run in runs" ng-class="'row-' + run.status">
            <td colspan="4">
                <div class="run-progress">
                    <div ng-repeat="(status, width) in run.progress" ng-class="'run-progress-'+ status" ng-style="{width: width + '%'}">{{ run.count[status] }}</div>
                </div>
            </td>
        </tr>
        <tr ng-repeat-end ng-class="'row-' +run.status" class="row-with-separator">
            <td>
                <a ng-href="/runs/{{ run.id }}">#{{ run.id }}</a>
            </td>
            <td><span class="label" ng-class="'label-' + run.status">{{ run.status }}</span></td>
            <td>{{ run.projectName }}</td>
            <td>
                <strong ng-repeat-start="(name, value) in run.properties">{{ name }}</strong>: {{ value }}
                <br ng-repeat-end ng-show="!$last" />
            </td>
        </tr>
        <tr ng-hide="runs.length">
            <td colspan="4">
                No run found.
            </td>
        </tr>
    </table>
{% endverbatim %}
{% endblock %}
{% endif %}
