{% set options = {
    show_project: true
}|merge(options|default({})) %}

{% set colspan = 5 %}
{% if options.show_project %}
    {% set colspan = colspan + 1 %}
{% endif %}

<table class="table">
    </thead>
    {% for run in runs %}
        <tr class="row-{{ run.status }}" data-refresh="run-{{ run.id }}">
            <td colspan="{{ colspan }}">
                <div class="run-progress">
                    {% for status, width in run.progress(100) %}
                        <div class="run-progress-{{ status }}" style="width:{{ width}}%">{{ run.countStatus(status) }}</div>
                    {% endfor %}
                </div>
            </td>
        </tr>
        <tr class="row-{{ run.status }} row-with-separator">
            <td>
                <a href="{{ path('run_show', {id: run.id}) }}">#{{ run.id ~ (run.title ? ': ' ~ run.title : '') }}</a>
            </td>
            <td><span class="label label-{{ run.status }}">{{ run.status }}</span></td>
            <td>{{ run.projectName }}</td>
            <td>
                {% for name, value in run.properties %}
                    <strong>{{ name }}</strong>: {{ value }}<br />
                {% endfor %}
            </td>
            <td>
                {% if run.pending %}
                    Pending since {{ run.createdAt|dateinterval }} ago
                {% elseif run.running %}
                    Running since {{ run.startedAt|dateinterval }} ago
                {% else %}
                    Finished {{ run.finishedAt|dateinterval }} ago (duration: {{ run.duration|dateinterval }})
                {% endif %}
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ colspan }}">
                No run found.
            </td>
        </tr>
    {% endfor %}
</table>
