{% extends "AlexBehatLauncherBundle::layout.html.twig" %}

{% block title 'Last 100 runs' %}

{% set menu_active = "run_list" %}

{% block content %}
    <h1>Last {{ runs|length }} runs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Project name</th>
                <th>Properties</th>
                <th>Pending</th>
                <th>Running</th>
                <th>Succeeded</th>
                <th>Failed</th>
            </tr>
        </thead>
        {% for run in runs %}
            <tr>
                <td>
                    <a href="{{ path('_behat_launcher_run_show', {id: run.id}) }}">#{{ run.id ~ (run.title ? ': ' ~ run.title : '') }}</a></td>
                <td>{{ run.projectName }}</td>
                <td>
                    {% for name, value in run.properties %}
                        <strong>{{ name }}</strong>: {{ value }}<br />
                    {% endfor %}
                <td>{{ run.countPending }}</td>
                <td>{{ run.countRunning }}</td>
                <td>{{ run.countSucceeded }}</td>
                <td>{{ run.countFailed }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
