{% extends "form_div_layout.html.twig" %}

{% block _behat_launcher_run_properties_row %}
    {% for sub in form %}
        {{ form_row(sub) }}
    {% endfor %}
{% endblock %}

{% block behat_launcher_features_row %}
    <div class="block-features" data-path="{{ path }}">
        <div class="header">
            {{ form_label(form) }}
        </div>
        <div class="rows hidden">
            {% for sub in form %}
                <div class="row">
                    {{ form_row(sub) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block checkbox_row %}
    <p>{{ form_widget(form) }} {{ form_label(form) }}</p>
{% endblock %}

{% block form_row %}
    <div id="form-row-{{ id }}" class="form-row">
    <div class="label">{{ form_label(form) }}</div>
    <div class="content">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
    </div>
{% endblock %}
